* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 64px;
  align-items: center;
  top: 0;
  padding: 0 24px;
}

.header--left,
.header--left img,
.header--left .header-big-text,
.header--left .header-big-text h3,
.header--right,
.header--right ul li {
  display: inline-block;
}

.header--left,
.header--right {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header--left img {
  height: 32px;
}

.header--right {
  float: right;
}

header h3 {
  font-size: 32px;
}

header h5 {
  font-size: ;
}

.section-first {
  background-color: #ccc;
}
